

  <%= form_with model: person do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% @people.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
    <%= form.label :gender %><br>
    <%= form.select :gender, ["Male", "Female"], {}, { prompt: 'Select Gender' } %>
    <% @people.errors.full_messages_for(:gender).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

     <div>
      <%= form.label :dob %><br>
      <%= form.date_field :dob %>
      <% @people.errors.full_messages_for(:dob).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>





    <div>
      <%= form.submit %>
    </div>
  <% end %>
